<div class="order-details">
    <div class="order-board">
        <div class="order-info">
            <p class="order-details-title"> Szczegóły zamówienia: </p>

            <p class="order">Numer zamówienia: 
                <span class="contrete-info">data</span>
            </p>
            <p class="order">NIP Kontrahenta: 
                <span class="contrete-info">data</span>
            </p>
            <p class="order">Status: 
                <span class="contrete-info">data</span>
            </p>
            <p class="order">Data utworzenia: 
                <span class="contrete-info">data</span>
            </p>
            <p class="order">Data modyfikacji: 
                <span class="contrete-info">data</span>
            </p>
            <p class="order">Cena: 
                <span class="contrete-info">data</span>
            </p>
            <div class="product-order-list">
                <div class="product-order-list-header">
                    <p class="title_column">
                        Lp.
                    </p>
                    <p class="title_column">
                        Nazwa produktu
                    </p>
                    <p class="title_column">
                        Cena (PLN)
                    </p>
                    <p class="title_column">
                        Ilość
                    </p>
                  
                </div>
                <div  class="product-order-list-item"> <!-- *ngFor="let product of productList; let i = index" -->
                    <p>
                        data 
                    </p>
                    <p>
                        data 
                    </p>
                    <p>
                        data 
                    </p>
                    <p>                         
                        data                       
                    </p>
                   
                
              
            </div>

            <button routerLink="/" class="back">
                 Powrót
            </button>
            <button routerLink="/edit" class="back">
                 Edytuj
            </button>

        </div>
    </div>
</div>
              
 
