.customer-list{
    width: 80%;
    margin: auto;
    text-align: center; 
  }
  
  .customer-search{
    width: 100%; 
   margin: 1em auto 1em auto;
   height: 2em;
   text-align: center;
   padding-bottom: 1.5em;
   padding-top: 1.5em;
  }
  .searchInput{
   width: 60%;
  height: 2em;
   border: 2px solid rgb(22, 110, 0);
   font-size: 1.3em;
   text-indent: 0.5em;
   background: white;
  }
  
  .customer-list-header,
  .customer-list-item{
    display: grid;
    /* grid możliwe że jeszcze będzie do zmiany */
    grid-template-columns: 1fr 3fr 5fr 3fr 3fr 3fr 3fr 1fr; 
    border: 1px solid rgb(22, 110, 0);
    font-size: 18px;
    text-align: center;
  }
  .customer-list-item{
    background-color: white;
  }
 
  .customer-list-header{
    background-color:  rgb(200, 255, 209);
    font-weight: bold;
  }
  
  .customer-list-item:hover{
    background-color:  rgb(233, 255, 236);
    font-weight: bold;
    cursor: default;
  }
  
  .title-column{
    text-align: center;
    color: rgb(18, 92, 0);
    font-size: 22px;
    font-weight: 600;
    cursor: default;
  }
  