<div class="customer-search">
  <div class="container">
    <div class="search-bar-with-add-order" style="color:white;">
      <input type="text" [(ngModel)]="inputNip" (change)="isNIPValid()" class="searchInput">
      <button routerLink="/" class="create-order" [disabled]="isNipValid">Dodaj zamówienie</button>
    </div>
  </div>
</div>


<div class="customer-list">
  <div class="customer-list-header">
    <p class="title-column">
      Lp.
    </p>
    <p class="title-column">
      NIP
    </p>
    <p class="title-column">
      Nazwa
    </p>
    <p class="title-column">
    </p>
  </div>
  <div *ngFor="let customer of customerList; let i = index" class="customer-list-item">
    <p>
       {{i+1}}
    </p>
    <p>
      {{customer.NIP}}
    </p>
    <p>
      {{customer.name}}
    </p>
    <p>
      <fa-icon [routerLink]="['/', 'customer-details', customer.NIP]" [icon]="faInfoCircle" class="Order_List_Icon"></fa-icon>
    </p>
  </div>
</div>
