.customer-list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.customer-search {
  width: 100%;
  margin: 1em auto 1em auto;
  height: 2em;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.searchInput {
  width: 60%;
  height: 2em;
  border: 2px solid rgb(209, 171, 0);
  font-size: 1.3em;
  text-indent: 0.5em;
  background: rgb(90, 90, 90);
  margin-right: 1em;
}

.customer-list-header,
.customer-list-item {
  display: grid;
  /* grid możliwe że jeszcze będzie do zmiany */
  grid-template-columns: 1fr 5fr 5fr 2fr;
  border: 1px solid rgb(209, 171, 0);
  font-size: 18px;
  text-align: center;
}

.customer-list-item {
  background-color: rgb(80, 80, 80);
  color: rgb(245, 245, 245);
}

.customer-list-header {
  background-color: rgb(58, 58, 58);
  font-weight: bold;
}

.customer-list-item:hover {
  background-color: rgb(90, 90, 90);;
  font-weight: bold;
  cursor: default;
}

.title-column {
  text-align: center;
  color: rgb(252, 206, 0);
  font-size: 22px;
  font-weight: 600;
  cursor: default;
}

.create-order {
  margin-top: 1em;
  background-color: rgb(209, 171, 0);
  color: black;
  border: 2px solid black;
  padding: 0.3em;
  cursor: pointer;
  font-size: 1.4em;
}

.create-order:hover {
  background-color: rgb(255, 208, 0);
}

.Order_List_Icon {
  cursor: pointer;
  color: rgb(252, 206, 0);
}
