<br />
<div class="order-info">
    <div class="order-info-board">
        <p class="order-info-title">
            <fa-icon [icon]="faPencilAlt" class="Order_Edit"></fa-icon> Informacje o zamówieniu
        </p>
                <p class="contrete-date">
                    NIP: {{order.customer.NIP}}
                </p>
                <p class="contrete-date">
                    Nazwa: {{order.customer.name}}
                </p>
                <p class="contrete-date">
                    Imię: {{order.customer.contact_name}}
                </p>
                <p class="contrete-date">
                    Nazwisko: {{order.customer.contact_surname}}
                </p>
                <p class="contrete-date">
                    Email: {{order.customer.email}}
                </p>
                <p class="contrete-date">
                    Telefon: {{order.customer.phone}}
                </p>
                <p class="contrete-date">
                    Stworzony: {{dateCreated}}
                </p>
                <p class="contrete-date">
                    Edytowany: {{dateModified}}
                </p>
                <p class="contrete-date">
                    Zniżka: {{order.customer.discount}}
                </p>
                <div class="product-order-list">
                    <div class="product-order-list-header">
                        <p class="title_column">
                            Lp.
                        </p>
                        <p class="title_column">
                            Nazwa produktu
                        </p>
                        <p class="title_column">
                            Cena (PLN)
                        </p>
                        <p class="title_column">
                            Ilość
                        </p>
                        <p class="title_column">
                            Usuń
                        </p>
                    </div>
                    <div  class="product-order-list-item" *ngFor="let product of orderProductsList; let i = index">
                        <p>
                            {{i+1}}
                        </p>
                        <p>
                            {{product.name}}
                        </p>
                        <p>
                            {{product.price}}
                        </p>
                        <p>
                            <fa-icon [icon]="faPlusCircle" (click)="increaseProductQuantity(i)" class="Product_List_Icon"></fa-icon> 
                            {{product.quantity}}
                            <fa-icon [icon]="faMinusCircle" (click)="decreaseProductQuantity(i)" class="Product_List_Icon"></fa-icon>
                        </p>
                        <p>
                            <fa-icon [icon]="faTrashAlt" (click)="deleteProduct(i)" class="Product_List_Icon"></fa-icon>
                        </p>
                        
                    </div>
                </div>

        <div class="Edit-panel">
            <p class="contrete-date">
                Nowa data utworzenia:
                 <input type="date" id="date" name="date" class="input_style" (change)="setDateOfCreation($event)">
            </p>
            <p class="contrete-date">
                Status:
                 <select name="order-status" id="order-status" class="input_style" #statusSelect>
                  </select>
            </p>
            <button routerLink="/" class="back">
                <fa-icon [icon]="faArrowLeft"></fa-icon> Powrót
              </button>
              <button (click)="saveModifiedOrder()" class="save">
                <fa-icon [icon]="faCheckCircle"></fa-icon> Zapisz
              </button>
              <button class="save">
                <fa-icon [icon]="faPlusCircle"></fa-icon> Dodaj przedmiot
            </button>
        </div>
    </div>
</div>