
.order-list{
  width: 70%;
  margin: auto;
  text-align: center; 
}

.order-search{
   width: 100%; 
  margin: 1em auto 1em auto;
  height: 2em;
  text-align: center;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.searchInput{
  width: 60%;
 height: 2em;
  border: 2px solid rgb(22, 110, 0);
  font-size: 1.3em;
  text-indent: 0.5em;
  background: white;
}


.order-list-header,
.order-list-item{
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 2fr 1fr 1fr ;
  border: 1px solid rgb(22, 110, 0);
  font-size: 18px;
}
.order-list-item{
  background-color: white;
}
.order-list-item-delete,
.order-list-item-edit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-list-header{
  background-color:  rgb(200, 255, 209);
  font-weight: bold;
}

.order-list-item:hover{
  background-color:  rgb(233, 255, 236);
  font-weight: bold;
  cursor: default;
}

.title_column{
  text-align: center;
  color: rgb(18, 92, 0);
  font-size: 22px;
  font-weight: 600;
  cursor: default;
}

.Order_List_Icon{
  cursor: pointer;
  color: rgb(18, 92, 0);
}