<div class="order-search">
  <input type="text" [formControl]="searchString">
</div>

<div class="order-list">
  <div class="order-list-header">
    <p class="title_column">
      Lp.
    </p>
    <p class="title_column">
      Nazwa zamówienia
    </p>
    <p class="title_column">
      NIP Kontrahenta
    </p>
    <p></p>
    <p></p>
  </div>
  <div *ngFor="let order of orderList; let i = index" class="order-list-item">
    <p>
      {{i+1}}
    </p>
    <p>
      {{order.order_name}}
    </p>
    <p>
      {{order.customer.NIP}}
    </p>
<!--  TODO: Dodać ikony  -->
<!--  TODO: Podpiąć linki do routów  -->
    <p class="order-list-item-edit">
      <fa-icon routerLink="/" [icon]="faPencilRuler" class="Order_List_Icon"></fa-icon>
    </p>
    <p class="order-list-item-delete">
      <fa-icon routerLink="/" [icon]="faTrashAlt" class="Order_List_Icon"></fa-icon>
    </p>
  </div>
</div>
