<div class="order-search">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9"><input type="text" [formControl]="searchString" class="searchInput"></div>
    </div>
  </div>
</div>

<div class="order-list">
  <div class="order-list-header">
    <p class="title_column">
      Lp.
    </p>
    <p class="title_column">
      Nazwa zamówienia
    </p>
    <p class="title_column">
      NIP Kontrahenta
    </p>
    <p></p>
    <p></p>
  </div>
  <div *ngFor="let order of orderList; let i = index" class="order-list-item" routerLink="/order-details/{{order.id}}">
    <p>
      {{i+1}}
    </p>
    <p>
      {{order.order_name}}
    </p>
    <p>
      {{order.customer.NIP}}
    </p>
<!--  TODO: Podpiąć linki do routów  -->
    <p class="order-list-item-edit">
      <fa-icon routerLink="/" [icon]="faPencilRuler" class="Order_List_Icon"></fa-icon>
    </p>
    <p class="order-list-item-delete">
      <fa-icon routerLink="/" [icon]="faTrashAlt" class="Order_List_Icon"></fa-icon>
    </p>
  </div>
</div>

<br /><br />