<div class="order-add">
    <div class="order-add-board">

        <p class="order-add-title"><fa-icon [icon]="faPencilAlt" class="Order_Add"></fa-icon> Dodaj zamówienie: </p>

        <p class="contrete-date">
            NIP:
            <input type="text" id="nip" name="nip" class="input_style">
        </p>

        <p class="contrete-date">
           Data:
            <input type="date" id="date" name="date" class="input_style">
        </p>

        <!-- <p class="contrete-date">
           Zróbcie co tu ma być, ostylowane już w miarę jest.
         </p> -->

          <button class="btn-add">
                Dodaj
          </button>
                
            
</div>
</div>