<div class="cart-details">
  <div class="cart-board">
    <div class="cart-info">
      <p class="cart-title">
        <fa-icon [icon]="faShoppingBasket" class="Product_Details"></fa-icon>
        Tworzenie zamówienia:
      </p>

      <p class="contrete-date">
        NIP: 
    </p>
    <p class="contrete-date">
        Nazwa firmy: 
    </p>
      <button routerLink="/customer-details" class="customer">       
        Szczegóły kontrahenta
      </button>

      <div class="cart-list">
        <div class="cart-list-header">
          <p class="title-column">
            Lp
          </p>
          <p class="title-column">
            Nazwa produktu
          </p>
          <p class="title-column">
            Cena netto
          </p>
          <p class="title-column">
            Cena brutto
          </p>
          <p class="title-column">
            Ilość
          </p>
          <p class="title-column">
            Usuń
          </p>
        </div>
      </div>
     
      <div *ngFor="let product of cartArr; let i = index" class="cart-list-item">
        <p>
          {{ i+1 }}
        </p>
        <p>
          {{product.nazwa_produktu}}
        </p>
        <p>
          {{product.cena_netto}}
        </p>
        <p>
         cena brutto
        </p>
        <!--  TODO: Podpiąć linki do routów i je zmienić -->
        <p>
          <fa-icon (click)="increaseQuantity(i)" [icon]="faPlusCircle" class="Product_List_Icon"></fa-icon>
          {{ quantities[i].quantity }}
          <fa-icon (click)="decreaseQuantity(i)" [icon]="faMinusCircle" class="Product_List_Icon"></fa-icon>
        </p>
        <p>
          <fa-icon (click)="removeFromCart(product.id)" [icon]="faTrashAlt" class="Product_List_Icon"></fa-icon>
        </p>

      </div>

      <p class="contrete-date">
        Nowa data utworzenia:
         <input type="date" id="date" name="date" class="input_style">
      </p>
      <p class="contrete-date">
      Całkowita cena netto: 
      </p>
      <p class="contrete-date">
      Całkowita cena brutto:  
      </p>

      <button routerLink="/product-list/" class="back">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        Anuluj
      </button>
      <button routerLink="/add" class="submit-order">
        <fa-icon [icon]="faCheckCircle"></fa-icon>
        Zamów
      </button>
    </div>
  </div>

</div>
