.cart-details{
    width: 95%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.cart-board{
  margin: auto;
}

.cart-info{

  background-color: rgb(80, 80, 80);
  width: 80%;
  margin: auto;
  border: 3px solid  rgb(209, 171, 0);
  padding: 0.5em;
  text-indent: 1em;
}

.cart-title{
  text-align: center;
  color: rgb(252, 206, 0);
  font-size: 1.7em;
  font-weight: bold;
  cursor: default;
}

.submit-order{
    margin-top: 1em;
    background-color: rgb(209, 171, 0);
    color: black;
    border: 2px solid black;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.4em;
  }
  .submit-order:hover{
    background-color: rgb(255, 208, 0);
  }

  .back{
    margin-top: 1em;
    background-color: rgb(209, 171, 0);
    color: black;
    border: 2px solid black;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.4em;
    margin-right: 0.4em;
  }

  .back:hover{
    background-color: rgb(255, 208, 0);
  }

  .title-column{
      text-align: center;
      color: rgb(252, 206, 0);
      font-size: 22px;
      font-weight: 600;
      cursor: default;
    }

  .cart-list-header,
  .cart-list-item{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 3fr 2fr 1fr;
    border: 1px solid rgb(209, 171, 0);
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .cart-list-item{
    background-color: rgb(80, 80, 80);
    color: rgb(245,245,245);
  }

  .cart-list-header{
    background-color:rgb(58, 58, 58);
    font-weight: bold;
  }

  .Product_List_Icon{
    cursor: pointer;
    color: rgb(252, 206, 0);
  }

  .cart-list-item:hover{
    background-color:  rgb(90, 90, 90);
    font-weight: bold;
    cursor: default;
  }

  .contrete-date{
    color: black;
    cursor: default;
    font-size: 1.5em;
  }

  .input_style{
    width: 100%;
    max-width: 8em;
    border: 2px solid rgb(209, 171, 0);
    padding: 0.25em;
    cursor: pointer;
  }

  .customer{
    background-color: rgb(209, 171, 0);
    color: black;
    border: 2px solid black;
    padding: 0.3em;
    cursor: pointer;
    font-size: 1.4em;
    margin-bottom: 1em;
    margin-right: 1em;
  }
  .customer:hover{
    background-color: rgb(255, 208, 0);
  }
