<!-- tutaj zrobiliśmy jakiś początek do koszyka, jak będziesz tutaj działać to możesz wszystko zakomentować a my jak będziemy robić to ogarniemy-->
<div class="cart-details">
    <div class="cart-board">
      <div class="cart-info">
        <!-- <p class="cart-title"><fa-icon [icon]="faCogs" class="Product_Details"></fa-icon> Do wymiany fa font! Koszyk: </p> -->
  
  
    <div class="cart-list">
      <div class="cart-list-header">
        
        <p class="title-column">
          Id produktu:        
        </p>
        <p class="title-column">
          Nazwa:        
        </p>
        <p class="title-column">
          Cena:   
        </p>
        <p class="title-column">
          Ilość:   
        </p>
      </div>
      </div>
      <!-- dodać ngFor i routy-->
      <div class="order-list-item">
        
    <!--  TODO: Podpiąć linki do routów i je zmienić -->
        
        <p class="cart-list-item-delete">
          <!-- <fa-icon routerLink="/" [icon]="faTrashAlt" class="Order_List_Icon"></fa-icon> -->
        </p>
      </div>
  
        <!-- <button routerLink="/product-list/" class="submit-order">
          <fa-icon [icon]="faArrowLeft"></fa-icon> Zamów
        </button>
        <button routerLink="/product-list/" class="back">
          <fa-icon [icon]="faArrowLeft"></fa-icon> Powrót
        </button> -->
      </div>
    </div>
    
  </div>