.product-details{
    width: 70%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
  }

.product-board{
    margin: auto;
  }

.product-info{
    background-color: rgb(80, 80, 80);
    width: 70%;
    margin: auto;
    border: 3px solid  rgb(209, 171, 0);
    padding: 0.5em;
    text-indent: 1em;
  }
.product-details-title{
    text-align: center;
    color: rgb(252, 206, 0);
    font-size: 1.7em;
    font-weight: bold;
    cursor: default;
}
.product{
    color: rgb(252, 206, 0);
    cursor: default;
    font-size: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.contrete-info{
    color: black;
    font-weight: 600;
}

.back{
  margin-top: 1em;
  background-color: rgb(209, 171, 0); 
  color: black;
  border: 2px solid black;
  padding: 0.3em;
  cursor: pointer;
  font-size: 1.4em;
}

.back:hover{
  background-color: rgb(255, 208, 0);
}












