<br />
<div class="customer-info">
    <div class="customer-info-board">
        <p class="customer-info-title">
           Szczegóły kontrahenta
        </p>
        <div class="box_one">
            <p class="contrete-date">
            NIP: {{customer.NIP}}
        </p>
        <p class="contrete-date">
            Nazwa firmy: {{customer.name}}
        </p>
        <p class="contrete-date">
            Adres: {{customer.address}}
        </p>
        </div>
        <div class="box_two">
            <div class="contact-title">
                Dane kontaktowe:
            </div>

            <p class="contrete-date">
                Imię: {{customer.contact_name}}
            </p>
            <p class="contrete-date">
                Nazwisko: {{customer.contact_surname}}
            </p>
            <p class="contrete-date">
                Email: {{customer.email}}
            </p>
            <p class="contrete-date">
                Telefon: {{customer.phone}}
            </p>
        </div>


        <div class="product-order-list">
            <div class="product-order-list-header">
                <p class="title_column">
                    Lp.
                </p>
                <p class="title_column">
                    Nazwa zamówienia
                </p>
                <p class="title_column">
                    Status
                </p>
                <p></p>
            </div>

        <div  class="product-order-list-item" *ngFor="let order of customer.orders; let i = index;">
            <p>
                {{i+1}}
            </p>
            <p>
                {{order.order_name}}
            </p>
            <p>
                {{order.status.name}}
            </p>
            <p [routerLink]="['/', 'edit', order.id]">
              <fa-icon [icon]="faInfoCircle" class="Order_List_Icon"></fa-icon>
            </p>
        </div>

        </div>

        <button routerLink="/customer-list" class="back">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Powrót
        </button>
        <button routerLink="/" class="add_order">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Dodaj zamowienie
        </button>
    </div>

</div>
