<nav class="Navbar">

  <fa-icon routerLink="/" [icon]="faHome" class="HomeIcon"></fa-icon>
  <span class="TitleText">System zarządzania zamówieniami</span>
  <div class="dropdown">
    <button class="dropbtn">Menu</button>

    <div class="dropdown-content">
      <a routerLink="/" routerLinkActive="active">Lista zamówień</a>
      <a routerLink="/product-list" routerLinkActive="active">Lista produktów</a>
      <a routerLink="/customer-list" routerLinkActive="active">Lista kontrahentów</a>
      <a routerLink="/add" routerLinkActive="active">Dodaj zamówienie</a>
      <a routerLink="/cart" routerLinkActive="active">Koszyk</a>

    </div>
  </div>
</nav>
