.TitleText{
  color:  rgb(252, 206, 0);
  font-size: 2em;
  font-weight: 600;
  cursor: default; 
}
.Navbar{
  background: rgb(90, 90, 90);
  border-bottom: 3px solid  rgb(252, 206, 0);
  padding: 1.2em;
}

.HomeIcon{
  color: rgb(252, 206, 0);
  font-size: 2.5em;
  margin: 1em 0.4em 1em 1em;
}

.menu{
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  
}

.menu-btn{
  background-color:rgb(209, 171, 0);
  color: black;
  margin-left: 1em; 
  border: 2px solid black;
  padding: 0.3em;
  cursor: pointer;
  font-size: 1.5em;
  
}

.menu-btn:hover{
  background-color: rgb(235, 235, 235);
  
}

a{
  text-decoration: none;
  color: black;
}