.product-list{
  width: 70%;
  margin: auto;
  text-align: center; 
}

.product-search{
  width: 100%; 
 margin: 1em auto 1em auto;
 height: 2em;
 text-align: center;
 padding-bottom: 1.5em;
 padding-top: 1.5em;
}
.searchInput{
 width: 60%;
height: 2em;
 border: 2px solid rgb(209, 171, 0);
 font-size: 1.3em;
 text-indent: 0.5em;
 background: rgb(90, 90, 90);
}

.product-list-header,
.product-list-item{
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr 1fr;
  border: 1px solid rgb(209, 171, 0);
  font-size: 18px;
  text-align: center;
}
.product-list-item{
  background-color:  rgb(80, 80, 80);
  color: rgb(245,245,245);
}
.product-list-item-delete,
.product-list-item-edit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list-header{
  background-color:  rgb(58, 58, 58);
  font-weight: bold;
}

.product-list-item:hover{
  background-color:  rgb(90, 90, 90);
  font-weight: bold;
  cursor: default;
}

.title_column{
  text-align: center;
  color: rgb(252, 206, 0);
  font-size: 22px;
  font-weight: 600;
  cursor: default;
}

.Product_List_Icon,
.details{
  cursor: pointer;
  color: rgb(252, 206, 0);
}
.details{
  margin-left: 1.5em;
  margin-right: 1.5em;
}