<div class="product-search">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-9"><input type="text" [formControl]="searchString" class="searchInput"></div>
    </div>
  </div>
</div>

<!-- <div class="product-search">
  <input type="text" [formControl]="searchString" class="searchInput">
</div> -->

<div class="product-list">
  <div class="product-list-header">
    <p class="title_column">
      Lp.
    </p>
    <p class="title_column">
      Nazwa produktu
    </p>
    <p class="title_column">
      Cena netto (PLN)
    </p>
    <p class="title_column">
      VAT
    </p>
    <p class="title_column">
     Jednostka
    </p>
    <p></p>
    <p></p>
  </div>
  <div *ngFor="let product of productList; let i = index" class="product-list-item">
    <p>
      {{i+1}}
    </p>
    <p>
      {{product.nazwa_produktu}}
    </p>
    <p>
      {{product.cena_netto}}
    </p>
    <p>
      VAT
    </p>
    <p>
      KG
    </p>
    <p>
      <fa-icon (click)="addObjectToCart(product.id)" routerLink="/cart" [icon]="faShoppingCart" class="Product_List_Icon"></fa-icon>
    </p>
    <p [routerLink]="['/product-details', product.id]" class="details">
      Szczegóły
    </p>
  </div>
</div>
